<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title><%=goodTitle%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <link rel="shortcut icon" type="image/x-icon" src="/images/hlyd_logo.png"/>
    <link rel="stylesheet" href="/stylesheets/share.css">
    <link href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css" rel="stylesheet">
    <style type="text/css">
        .swiper-container {
            width: 100%;
            height: auto;
            max-height:300px;
        }
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
    </style>
</head>
<body class="">
<section class="">
    <div class="top-down-app">
        <a href="/downloadLink">
            <div class="ljyd-logo">
                <img src="/images/hlyd_logo.png" alt=""/>
            </div>
            <div class="app-info">
                <h4 class="name">
                    汇邻优店</h4>
                <div class="text">
                    邻里互动，同城交易
                </div>
            </div>
            <div class="button-down">
                免费下载
            </div>
        </a>
    </div>
    <header class="artical-title">
        <div class="cover">
            <div class="banner-container swiper-container" >
                <div class="swiper-wrapper" >
                        <% if(album && album.length > 0) { %>
                        <% album.forEach(( value ) => { %>
                    <div class="banner-slide swiper-slide" style = "width:100%;height:100%">
                    <img src="<%=value%>">
                    </div>
                    <% }) %>
                        <% } %>
                </div>
                <!--需要焦点按钮时加这段div-->
            </div>
                    <!--<div class="swiper-slide"><img src="<%=album[0]%></div>-->
                    <!--<div class="swiper-slide"><img src="<%=album[1]%></div>-->
                    <!--<div class="swiper-slide"><img src="<%=album[2]%></div>-->
        </div>
        <h1 class="headline"><%=goodTitle %></h1>
        <h1 class="headline">¥ <%=price %></h1>
    </header>
    <article>

    </article>
    <article>
        <% if(detail && detail.length > 0) { %>
        <% detail.forEach(( value ) => { %>
        <% if( value.type === 'COMP_TEXT') { %>
        <%var textArray = value.text.split("\n")%>
        <%textArray.forEach((value) =>{ %>
        <p><%=value%></p>
        <% }) %>
        <% } else if( value.type === 'COMP_IMG' ) { %>
        <div class="artical-image">
            <img src="<%=value.url%>">
        </div>
        <% }%>
        <% }) %>
        <% } %>
    </article>
    <div class="down-app">
        <a href="/downloadLink" class="button-down-app">下载汇邻优店，秀出美好生活</a>
    </div>
</section>

<script src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.min.js"></script>
<script type="text/javascript">
    var mySwiper = new Swiper('.banner-container',{
        loop: true, //用来循环播放
    });
    setInterval("mySwiper.slideNext()", 2000); //加定时器的目的是：点击焦点按钮后，自动播放你所点击的那张图片的下一张
</script>

</body>

</html>
