<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title><%=title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <link rel="shortcut icon" type="image/x-icon" src="/images/hlyd_logo.png"/>
    <link rel="stylesheet" href="/stylesheets/share.css">

</head>
<body class="">
<section class="">
    <div class="top-down-app">
        <a href="<%=appDownloadLink%>">
            <div class="ljyd-logo">
                <img src="/images/hlyd_logo.png" alt=""/>
            </div>
            <div class="app-info">
                <h4 class="name">
                    汇邻优店</h4>
                <div class="text">
                    邻里互动，同城交易
                </div>
            </div>
            <div class="button-down">
                免费下载
            </div>
        </a>
    </div>
    <header class="artical-title">
        <h1 class="headline"><%=title%></h1>
        <div class="">
            <img src="http://ac-k5rltwmf.clouddn.com/e7217ee14b8149438d21.png" alt="" style="width: 13px; height: auto; margin-right: 13px">
            <span class=""><%=address%></span>
        </div>
        <!--<div>-->
            <!--<img src="http://ac-k5rltwmf.clouddn.com/6f21170225926c075961.png" alt="" style="width: 15px; height: auto; margin-right: 11px">-->
            <!--<span class=""><%=phone%></span>-->
        <!--</div>-->
    </header>

    <article>
        <div class="cover">
            <img src="<%=coverUrl%>">
        </div>
    </article>

    <article>
        <h4 class="public-headline">店铺公告</h4>
        <div>
            <span>营业时间：<%=openTime%></span>
        </div>
        <div>
            <span>本店特色：</span>
            <span><%=ourSpecial%></span>
        </div>
    </article>

    <div class="down-app">
        <a href="<%=appDownloadLink%>" class="button-down-app">下载汇邻优店，秀出美好生活</a>
    </div>
</section>

</body>

</html>
