<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>登录注册</title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css"/>
    <script src="//cdn1.lncld.net/static/js/2.5.0/av-min.js"></script>

</head>
<body ontouchstart>
<div class="weui-cells__title">汇邻优店</div>
<div class="weui-cells weui-cells_form">
    <div class="weui-cell weui-cell_vcode">
        <div class="weui-cell__hd">
            <label class="weui-label">手机号</label>
        </div>
        <div class="weui-cell__bd">
            <input id="phone" class="weui-input" type="tel" placeholder="请输入手机号">
        </div>
        <div class="weui-cell__ft">
            <input type="button" id="smsCodebtn" class="btn" value="获取验证码" />
        </div>
    </div>

    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">验证码</label></div>
        <div class="weui-cell__bd">
            <input id = "smsCode" class="weui-input" type="password"  placeholder="请输入验证码"/>
        </div>
    </div>
</div>

<div class="weui-btn-area">
    <a class="weui-btn weui-btn_primary"  id="showTooltips">登录</a>
</div>
</body>
<style type="text/css">
    .btn {
        height: 44px;
        font-size: 17px;
        color: #3CC51F;
        margin-right: 10px;
    }
</style>
<script type="text/javascript">
    var APP_ID = 'K5Rltwmfnxd5pYjMsOFFL0kT-gzGzoHsz';
    var APP_KEY = 'UseC5jvqLT7TIiQWI8nRPmEl';
    AV.init({
        appId: APP_ID,
        appKey: APP_KEY
    });

    var loginBtn = document.getElementById("showTooltips")
    var phone = document.getElementById("phone")
    var smsCode = document.getElementById('smsCode')
    var openid = "<%=openid%>"
    var accessToken = "<%=accessToken%>"
    var unionid = "<%=unionid%>"
    var expires_in = "<%=expires_in%>"
    var nickname = "<%=nickname%>"
    var headimgurl = "<%=headimgurl%>"

    var authData = {
        "openid": unionid,
        "access_token": accessToken,
        "expires_at": Date.parse(expires_in),
    }
    var platform = 'weixin'

    loginBtn.onclick = function () {
         if(!formCheck(phone.value, smsCode.value)) {
             return
         }
        AV.User.signUpOrlogInWithMobilePhone(phone.value, smsCode.value).then((user) => {
            return AV.User.associateWithAuthData(user, platform, authData)
        }).then((user) => {
            alert("登录成功")
            console.log("user", user)
            if(user) {
                !user.attributes.nickname && user.set('nickname', nickname)
                !user.attributes.avatar && user.set('avatar', headimgurl)
                user.set('openid', openid)
                return user.save()
            }
            return null
        }).then((loginedUser) => {
            window.location.href = "/wxProfile?phone=" + phone.value

            return AV.Cloud.run('promoterSyncPromoterInfo', {userId: loginedUser.id})

        }).then((result) => {
            console.log("promoterSyncPromoterInfo result:", result)
        }).catch((error) => {
            console.log(error)
            alert("登录注册失败")
        })

    }

    function formCheck(phone, smsCode) {
        if(!phone) {
            alert("请输入手机号码")
            return false
        }
        if(!smsCode) {
            alert("请输入短信验证码")
            return false
        }
        var reg = /^1[0-9]{10}$/
        if(!reg.test(phone)) {
            alert("手机号码格式有误")
            return false
        }
        return true
    }

    //验证码获取倒计时
    var wait=60;
    function time(o) {
        console.log('wait:', wait)
        if (wait == 0) {
            o.removeAttribute("disabled");
            o.value="获取验证码";
            wait = 60;
        } else if(wait == 60) {
             AV.Cloud.requestSmsCode(phone.value).then(function (success) {
                 alert("短信验证码请求成功")
                 o.setAttribute("disabled", true);
                 o.style.color = '#B2B2B2'
                 o.value="重新发送(" + wait + ")";
                 wait--;
                 setTimeout(function() {
                             time(o)
                         },
                         1000)
            }, function (err) {
                alert(err)
            })
        } else {
            o.setAttribute("disabled", true);
            o.style.color = '#B2B2B2'
            o.value="重新发送(" + wait + ")";
            wait--;
            setTimeout(function() {
                        time(o)
                    },
                    1000)
        }
    }
    document.getElementById("smsCodebtn").onclick=function(){time(this);}
</script>
</html>