<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>提现到微信余额</title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css"/>
    <script src="//cdn1.lncld.net/static/js/2.5.0/av-min.js"></script>

</head>
<body ontouchstart style="background-color: #f0f0f2">
<div style="background-color: #ffffff; border-width: 1px; border-style: solid; border-color: #000000; border-radius: 3px; margin-left: 7.5px; margin-right: 7.5px; margin-top: 15px; margin-bottom: 15px; padding-left: 13px; padding-right: 13px; padding-top: 13px">
    <Text style="font-size: 16px">提现金额</Text>
    <div style="display: flex; border-bottom: solid; border-bottom-width: inherit;border-bottom-color: #0d0d0d; padding-top: 20px; padding-bottom: 20px; align-items: center">
        <label style="font-size: 20px">¥</label>
        <input id="amount" type="number" style="font-size: 40px; border-width: 0px; width: 200px; margin-left: 10px" />
    </div>
    <div style="padding-top: 10px; padding-bottom: 10px">
        <Text>当前余额<%=balance%>元，</Text>
        <a id="withdrawAll" href="javascript:void(0);">全部提现</a>
    </div>
</div>

<div class="weui-btn-area">
    <a class="weui-btn weui-btn_primary"  id="withdrawBtn">提现</a>
</div>
</body>
<script type="text/javascript">

    AV.init({
        appId: "<%=appId%>",
        appKey: "<%=appKey%>"
    });

    var withdrawBtn = document.getElementById('withdrawBtn')
    var withdrawAll = document.getElementById('withdrawAll')
    var amount = document.getElementById('amount')
    var openid = "<%=openid%>"

    withdrawBtn.onclick = function () {
        var params = {
            channel: 'wx_pub',
            order_no: generateUUID().replace(/-/g, '').substr(0, 16),
            amount: amount.value,
            openid: openid,
            metadata: {},
        }
        console.log("hLifeCreateTransfers", params)
        AV.Cloud.run('hLifeCreateTransfers', params).then((result) => {
            window.location.href = "/wxProfile?openid=" + openid
        }).catch((err) => {
            alert(err)
        })

    }

    function generateUUID(){
        var d = new Date().getTime();
        var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
            var r = (d + Math.random()*16)%16 | 0;
            d = Math.floor(d/16);
            return (c=='x' ? r : (r&0x7|0x8)).toString(16);
        });
        return uuid;
    };

    withdrawAll.onclick = function () {
        amount.setAttribute('value', <%=balance%>)
    }
</script>
</html>